<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tour with US!</title>
  </head>
  <body>
    <div>
      <h1>Default landing page!</h1>  
    </div>
  </body>
</html>
